<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971362977717-66jfdn7jmehk7vm46bkum0bse0hm56dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971362977717-66jfdn7jmehk7vm46bkum0bse0hm56dj</string>
	<key>API_KEY</key>
	<string>AIzaSyCDLctCDDUD8NTSbvhAcwUWovQQmK7hXtY</string>
	<key>GCM_SENDER_ID</key>
	<string>971362977717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tientranzt.github.io.led-firebase</string>
	<key>PROJECT_ID</key>
	<string>led-color-d0ced</string>
	<key>STORAGE_BUCKET</key>
	<string>led-color-d0ced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971362977717:ios:c900221a760af586957bfc</string>
	<key>DATABASE_URL</key>
	<string>https://led-color-d0ced.firebaseio.com</string>
</dict>
</plist>